doctype html
head
  // Mobile Specific Meta
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  // Favicon
  link(rel='shortcut icon', href='img/fav.png')
  // Author Meta
  meta(name='author', content='colorlib')
  // Meta Description
  meta(name='description', content='')
  // Meta Keyword
  meta(name='keywords', content='')
  // meta character set
  meta(charset='UTF-8')
  // Site Title
  title Magazine
  link(href='https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700', rel='stylesheet')
  //
    CSS
    =============================================
  link(rel='stylesheet', href='css/linearicons.css')
  link(rel='stylesheet', href='css/font-awesome.min.css')
  link(rel='stylesheet', href='css/bootstrap.css')
  link(rel='stylesheet', href='css/magnific-popup.css')
  link(rel='stylesheet', href='css/nice-select.css')
  link(rel='stylesheet', href='css/animate.min.css')
  link(rel='stylesheet', href='css/owl.carousel.css')
  link(rel='stylesheet', href='css/jquery-ui.css')
  link(rel='stylesheet', href='css/main.css')
header
  .header-top
    .container
      .row
        .col-lg-6.col-md-6.col-sm-6.col-6.header-top-left.no-padding
          ul
            li
              a(href='https://www.facebook.com/colorlib')
                i.fa.fa-facebook
            li
              a(href='https://twitter.com/colorlib')
                i.fa.fa-twitter
        .col-lg-6.col-md-6.col-sm-6.col-6.header-top-right.no-padding
          ul
            li
              a(href='mailto:support@colorlib.com')
                span.lnr.lnr-envelope
                span support@colorlib.com
  .logo-wrap
    .container
      .row.justify-content-between.align-items-center
        .col-lg-4.col-md-4.col-sm-12.logo-left.no-padding
          a(href='/')
            img.img-fluid(src='img/logo.png', alt='')
        .col-lg-8.col-md-8.col-sm-12.logo-right.no-padding.ads-banner
          img.img-fluid(src='img/banner-ad.jpg', alt='')
  #main-menu.container.main-menu
    .row.align-items-center.justify-content-between
      nav#nav-menu-container
        ul.nav-menu
          li.menu-active
            a(href='/') Home
          li
            a(href='/category?q=politics') Politics
          li
            a(href='/category?q=world') World
          li
            a(href='/category?q=business') Business
          li
            a(href='/category?q=arts') Arts
          li
            a(href='/category?q=science') Science
          li
            a(href='/category?q=food') Food
          li
            a(href='/category?q=travel') Travel  
      // #nav-menu-container
      .navbar-right
        form.Search(action="/search", method="POST")
          input#Search-box.form-control.Search-box(type='text', name='Search-box', placeholder='Search')
          label.Search-box-label(for='Search-box')
            span.lnr.lnr-magnifier
          span.Search-close
            span.lnr.lnr-cross
.site-main-container
  // Start top-post Area
  section.top-post-area.pt-10
    .container.no-padding
      .row
        .col-lg-12
          .hero-nav-area
            h1.text-white Article
            p.text-white.link-nav
              a(href='index.html') Home 
              span.lnr.lnr-arrow-right
              a(href='#')= search.section_name
              span.lnr.lnr-arrow-right
              a(href='image-post.html') Article
  // End top-post Area
  // Start latest-post Area
  section.latest-post-area.pb-120
    .container.no-padding
      .row
        .col-lg-8.post-list
          // Start single-post Area
          .single-post-wrap
            .feature-img-thumb.relative
              .overlay.overlay-bg
              img.img-fluid(src=article.image, alt='')
            .content-wrap
              ul.tags.mt-10
                li
                  a(href='#')= search.section_name
              a(href='#')
                h3= article.title
              ul.meta.pb-20
                li
                  a(href='#')
                    span.lnr.lnr-user
                    | #{search.byline.original}
                li
                  a(href='#')
                    span.lnr.lnr-calendar-full
                    | #{search.pub_date}
              p
                | #{article.body}
              .navigation-wrap.justify-content-between.d-flex
                a.prev(href='/post?q='+search.previous)
                  span.lnr.lnr-arrow-left
                  | Prev Post
                a.next(href='/post?q='+search.next)
                  | Next Post
                  span.lnr.lnr-arrow-right
        .col-lg-4
          .sidebars-area
            .single-sidebar-widget.editors-pick-widget
              h6.title Technology
              .editors-pick-post
                .feature-img-wrap.relative
                  .feature-img.relative
                    .overlay.overlay-bg
                    img.img-fluid(src=technology[0].multimedia[4].url, alt='')
                  ul.tags
                    li
                      a(href='#')= technology[0].section
                .details
                  a(href='/post?q='+technology[0].url)
                    h4.mt-20
                      | #{technology[0].title}
                  ul.meta
                    li
                      a(href='#')
                        span.lnr.lnr-user
                        | #{technology[0].byline}
                    li
                      a(href='#')
                        span.lnr.lnr-calendar-full
                        | #{technology[0].published_date}
                  p.excert
                    | #{technology[0].abstract}
                .post-lists
                  .single-post.d-flex.flex-row
                    .thumb
                      img(src=technology[1].multimedia[0].url, alt='')
                    .detail
                      a(href='/post?q='+technology[1].url)
                        h6
                          | #{technology[1].title}
                      ul.meta
                        li
                          a(href='#')
                            span.lnr.lnr-calendar-full
                            | #{technology[1].published_date}
                  .single-post.d-flex.flex-row
                    .thumb
                      img(src=technology[2].multimedia[0].url, alt='')
                    .detail
                      a(href='/post?q='+technology[2].url)
                        h6
                          | #{technology[2].title}
                      ul.meta
                        li
                          a(href='#')
                            span.lnr.lnr-calendar-full
                            | #{technology[2].published_date}
                  .single-post.d-flex.flex-row
                    .thumb
                      img(src=technology[3].multimedia[0].url, alt='')
                    .detail
                      a(href='/post?q='+technology[3].url)
                        h6
                          | #{technology[3].title}
                      ul.meta
                        li
                          a(href='#')
                            span.lnr.lnr-calendar-full
                            | #{technology[3].published_date}
            .single-sidebar-widget.ads-widget
              img.img-fluid(src='img/sidebar-ads.jpg', alt='')
            .single-sidebar-widget.newsletter-widget
              h6.title Newsletter
              p
                | Subscribe to our mailing list!
              .form-group.d-flex.flex-row
                .col-autos
                  .input-group
                    input.form-control(placeholder='Email Address', onfocus="this.placeholder = ''", onblur="this.placeholder = 'Email Address'", type='text')
                a.bbtns(href='#') Subcribe
              p
                | You can unsubscribe us at any time.
            .single-sidebar-widget.most-popular-widget
              h6.title Travel
              .single-list.flex-row.d-flex
                .thumb
                  img(src=travel[0].multimedia[0].url, alt='')
                .details
                  a(href='/post?q='+travel[0].url)
                    h6
                      | #{travel[0].title}
                  ul.meta
                    li
                      a(href='#')
                        span.lnr.lnr-calendar-full
                        | #{travel[0].published_date}

              .single-list.flex-row.d-flex
                .thumb
                  img(src=travel[1].multimedia[0].url, alt='')
                .details
                  a(href='/post?q='+travel[1].url)
                    h6
                      | #{travel[1].title}
                  ul.meta
                    li
                      a(href='#')
                        span.lnr.lnr-calendar-full
                        | #{travel[1].published_date}

              .single-list.flex-row.d-flex
                .thumb
                  img(src=travel[2].multimedia[0].url, alt='')
                .details
                  a(href='/post?q='+travel[2].url)
                    h6
                      | #{travel[2].title}
                  ul.meta
                    li
                      a(href='#')
                        span.lnr.lnr-calendar-full
                        | #{travel[2].published_date}

              .single-list.flex-row.d-flex
                .thumb
                  img(src=travel[3].multimedia[0].url, alt='')
                .details
                  a(href='/post?q='+travel[3].url)
                    h6
                      | #{travel[3].title}
                  ul.meta
                    li
                      a(href='#')
                        span.lnr.lnr-calendar-full
                        | #{travel[3].published_date}
  
  // End latest-post Area
// start footer Area
footer.footer-area.section-gap
  .container
    .row
      .col-lg-2.col-md-6.single-footer-widget
        h4 Products
        ul
          li
            a(href='#') Magezine
      .col-lg-2.col-md-6.single-footer-widget
        h4 Quick Links
        ul
          li
            a(href='https://nytimes.com') New York Times
      .col-lg-2.col-md-6.single-footer-widget
        h4 Contact
        ul
          li
            a(href='#') Email: abhisaivenkat@gmail.com
          li
            a(href='https://github.com/avenka6794') Github
    .footer-bottom.row.align-items-center
      p.footer-text.m-0.col-lg-8.col-md-12
        // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
        | Copyright &copy;
        script.
          document.write(new Date().getFullYear());
        |  All rights reserved | This template is made with 
        i.fa.fa-heart-o(aria-hidden='true')
        |  by 
        a(href='https://colorlib.com', target='_blank') Colorlib
        // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
      .col-lg-4.col-md-12.footer-social
        a(href='https://www.facebook.com/colorlib')
          i.fa.fa-facebook
        a(href='https://twitter.com/colorlib')
          i.fa.fa-twitter
// End footer Area
script(src='js/vendor/jquery-2.2.4.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js', integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q', crossorigin='anonymous')
script(src='js/vendor/bootstrap.min.js')
script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA')
script(src='js/easing.min.js')
script(src='js/hoverIntent.js')
script(src='js/superfish.min.js')
script(src='js/jquery.ajaxchimp.min.js')
script(src='js/jquery.magnific-popup.min.js')
script(src='js/mn-accordion.js')
script(src='js/jquery-ui.js')
script(src='js/jquery.nice-select.min.js')
script(src='js/owl.carousel.min.js')
script(src='js/mail-script.js')
script(src='js/main.js')
